:root {
	--color-primary: #66e0ff;
	--color-secondary: #ffffff;
	--color-secondary-hover: #fff258;

	--color-background-gradient-primary: rgba(0, 180, 160, 0.85);
	--color-background-gradient-secondary: rgb(0, 0, 0);
	--color-background-gradient-tertiary: rgb(16, 67, 67);

	--color-glass-primary: rgba(0, 0, 0, 0.4);
	--color-glass-secondary: rgba(18, 0, 254, 0.2);

	--text-primary: #ffffff;
	--text-secondary: #ffffff;
	--text-secondary-hover: #cfcfcf;

	--incorrect: #ff6b6b;
	--correct: #6bff6b;
	--unfinished: #ffffff;

	--card: #0093dd;
	--card-secondary: #00679b;

	--border-radius: 10px;
	--header-shadow: rgba(57, 63, 72, 0.4);
}
