:root {
    --color-primary: #0093dd;
    --color-primary-transparent: rgba(49, 255, 255, 0);
    --color-secondary: rgb(255, 0, 0);
    --color-secondary-hover: rgba(255, 242, 58, 0.562);

    /* Background Gradient Color Theme */
    --color-background-gradient-primary: rgb(255, 102, 0);
    --color-background-gradient-secondary: rgb(80, 5, 95);
    --color-background-gradient-tertiary: rgb(160, 25, 83);

    /* Glass Coloration */
    --color-glass-primary: rgba(0, 0, 0, .4);
    --color-glass-secondary: rgba(18, 0, 254, 0.2);

    --text-primary: rgb(0, 0, 0);
    --text-secondary: rgb(255, 191, 0);
    --text-secondary-hover: rgb(193, 145, 0);

    --incorrect: rgb(219, 80, 80);
    --correct: rgb(117, 255, 117);
    --unfinished: white;

    --card: #0093dd;
    --card-secondary: #00679b;

    --border-radius: 10px;

    --header-shadow: rgba(57, 63, 72, 0.4);

    --wpm-text: white;
}