:root {
	--color-primary: #0066a8;
	--color-secondary: #b30000;
	--color-secondary-hover: #6b6b00;

	--color-background-gradient-primary: rgb(255, 102, 0);
	--color-background-gradient-secondary: rgb(80, 5, 95);
	--color-background-gradient-tertiary: rgb(160, 25, 83);

	--color-glass-primary: rgba(0, 0, 0, 0.4);
	--color-glass-secondary: rgba(18, 0, 254, 0.2);

	--text-primary: #000000;
	--text-secondary: #5a4400;
	--text-secondary-hover: #2d2200;

	--incorrect: #b22020;
	--correct: #1f7a1f;
	--unfinished: #ffffff;

	--card: #0066a8;
	--card-secondary: #00496e;

	--border-radius: 10px;
	--header-shadow: rgba(57, 63, 72, 0.4);
}
